<!DOCTYPE html>
<html lang="en">
<head>
  <title>logo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="img/fav.png">


  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all">

<body>

<div class="container">

        <header>

          <nav>
          <ul>
          <li class="menu">
            <a href="/">Головна</a></li>
          <li><a href="/products">Бренди</a></li>

          <li><a href="/profile">Акаунт</a></li>
          <!-- <li><button> <img src="img/korzina1.png" href = "index.html"></button></li>-->
          </ul>
          </nav>

            <div class="head">
                <div class="logo">
                    <a href="#"><img src="img/up.png" title="Logo" alt="Logo" /></a>
                </div>

                <section id="search">
                  <form action="/search"  method="get" enctype="form-data">

                      <input type="text"  name='q' placeholder= "Search" >
                      <input type="submit" value="search">
                  </form>

                    <ul id="social">
                      <li><a href="https://www.facebook.com" title="facebook" rel="external nofollow"><img alt="" src="img/facebook.png"></a></li>
                      <li><a href="https://twitter.com" title="twitter" rel="external nofollow"><img alt="" src="img/twitter.png"></a></li>
                      <li><a href="https://vk.com/" title="vk" rel="external nofollow"><img alt="" src="img/vk.png"></a></li>
                      <li><a href="https://ok.ru" title="odnoklassniki" rel="external nofollow"><img alt="" src="img/odnoklassniki.png"></a></li>
                      <li><a href="https://www.youtube.com" title="youtube" rel="external nofollow"><img alt="" src="img/youtube.png"></a></li>
                  </ul>
                </section>
            </div>



        </header>




        <div id="main">
            <section id="content">
                <div id="columL">
                     <h3>Interesting offers</h3>
                    <ul>
                      <% prods.filter(x => x.title).forEach( prod => { %>

                        <li>
                            <div class="img"><a id="path" href="/products/<%=prod.href%>"><img alt="" src='data:image/jpg;base64,<%= prod.avatar1 %>'></a></div>
                            <div class="info">
                                <a  class="title" href="/products/<%=prod.href%>"><%= prod.title %></a>

                              <p class="size"> <%= prod.description %> </p>
                                <div class="price">
                                    <span class="st">Our price:</span><strong>$<%= prod.price %></strong>
                                </div>
                                <div class="actions">

                                    <a href="/products/<%=prod.href%>">Details</a>
                                    <form action = "/addtocart" method="post">
                                      <input type="text" hidden="true" name="prtitle" value="<%= prod.title %>">
                                      <input type="text" hidden="true" name="prid" value="<%= user.identef%>">
                                     <input class = "b" type="submit" name="submit" value="Add to cart">
                                      </form >
                                </div>
                            </div>
                        </li>

                        <% }); %>

                    </ul>
                </div>
                <div id="columR">
                    <h3>Top sells</h3>
                    <ul>
                           <% sales.filter(x => x.title).forEach( sale => { %>

                        <li>
                            <div class="img"><a href="/products/<%=sale.href%>"><img alt="" src='data:image/jpg;base64,<%= sale.avatar1 %>'></a></div>
                            <div class="info">
                                <a class="title" href="/products/<%=sale.href%>"><%= sale.title %></a>
                                <div class="price">
                                    <span id="lprice" class="usual"> $<%= sale.lastprice %> </span>&nbsp;
                                    <span class="special">$<%= sale.price %></span>
                                </div>
                            </div>
                        </li>
                        <% }); %>


                    </ul>
                </div>
            </section>
        </div>


    <footer>

             Copyright © 2016 Aleksandra Pyvovarchuk

    </footer>

</div>

</body></html>
