<!DOCTYPE html>
<html lang="en">
<head>
  <title>logo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="img/fav.png">


  <link rel="stylesheet" href="stylesheets/regstyle.css" type="text/css" media="all">

<div class="container">

        <header>

          <nav>
          <ul>
          <li class="menu">
            <a href="/">Головна</a></li>
          <li><a href="/products">Бренди</a></li>

          <li><a href="/profile">Акаунт</a></li>
<!-- <li><button> <img src="img/korzina1.png" href = "index.html"></button></li>-->
          </ul>
          </nav>

            <div class="head">
                <div class="logo">
                    <a href="#"><img src="img/up.png" title="Logo" alt="Logo" /></a>
                </div>

                <section id="search">
                    <form action="#" onsubmit="return false;" method="get">
                        <input type="text" onfocus="if (this.value =='Пошук...' ) this.value=''" onblur="if (this.value=='') this.value='Пошук...'" value="Пошук..." name="q">
                        <input type="submit" value="Пошук">
                    </form>

                    <ul id="social">
                      <li><a href="https://www.facebook.com" title="facebook" rel="external nofollow"><img alt="" src="img/facebook.png"></a></li>
                      <li><a href="https://twitter.com" title="twitter" rel="external nofollow"><img alt="" src="img/twitter.png"></a></li>
                      <li><a href="https://vk.com/" title="vk" rel="external nofollow"><img alt="" src="img/vk.png"></a></li>
                      <li><a href="https://ok.ru" title="odnoklassniki" rel="external nofollow"><img alt="" src="img/odnoklassniki.png"></a></li>
                      <li><a href="https://www.youtube.com" title="youtube" rel="external nofollow"><img alt="" src="img/youtube.png"></a></li>
                  </ul>
                </section>
            </div>



        </header>



        <div id="main">
            <section id="content">
                <div id="columL">
                     <h3>Enter </h3>
                <form action='/login' method='POST' enctype="multipart/form-data" class='reg-form'>



             		<div class='form-row'>
             			<label for='form_email'>Email: </label>
             			<input type='email' id='form_email' name='email'>
             		</div>

                <div class='form-row'>
             			<label for='password'>Password: </label>
             			<input type='password' id='password' name='password'>
             		</div>

                <div class="form-row">
             			<input type="submit" value='Go'>
             		</div>

               	<a href="/signup">Registration</a>

             	</form>
                </div>
                <div id="columR">
                    <h3>Top sells</h3>
                    <ul>
                      <% sales.filter(x => x.name).forEach( sale => { %>
                   <li>
                       <div class="img"><a href="/products/<%=sale.href%>"><img alt="" src='data:image/jpg;base64,<%= sale.avatar1 %>'></a></div>
                       <div class="info">
                           <a class="title" href="/products/<%=sale.href%>"><%= sale.name %></a>
                           <div class="price">

                               <span class="special"><%= sale.founder %></span>
                           </div>
                       </div>
                   </li>
                   <% }); %>
                    </ul>
                </div>
            </section>
        </div>


    <footer>

             Copyright © 2016 Aleksandra Pyvovarchuk

    </footer>

</div>

</body></html>
