
<!DOCTYPE html>
<html lang="en">
<head>
  <title>logo</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="img/fav.png">


<link rel="stylesheet" href="../stylesheets/styleprod.css" type="text/css" media="all">

<body>

<div class="container">

        <header>

          <nav>
          <ul>
          <li class="menu">
            <a href="/">Головна</a></li>
          <li><a href="/products">Бренди</a></li>
          <li><a href="/profile"><%=user.local.first_name%></a></li>
          <!-- <li><button> <img src="img/korzina1.png" href = "index.html"></button></li>-->
          </ul>
          </nav>

            <div class="head">
                <div class="logo">
                    <a href="#"><img src="../stylesheets/img/up.png" title="Logo" alt="Logo" /></a>
                </div>

                <section id="search">
                    <form action="#" onsubmit="return false;" method="get">
                        <input type="text" onfocus="if (this.value =='Пошук...' ) this.value=''" onblur="if (this.value=='') this.value='Пошук...'" value="Пошук..." name="q">
                        <input type="submit" value="Пошук">
                    </form>

                    <ul id="social">
                      <li><a href="https://www.facebook.com" title="facebook" rel="external nofollow"><img alt="" src="img/facebook.png"></a></li>
                      <li><a href="https://twitter.com" title="twitter" rel="external nofollow"><img alt="" src="img/twitter.png"></a></li>
                      <li><a href="https://vk.com/" title="vk" rel="external nofollow"><img alt="" src="img/vk.png"></a></li>
                      <li><a href="https://ok.ru" title="odnoklassniki" rel="external nofollow"><img alt="" src="img/odnoklassniki.png"></a></li>
                      <li><a href="https://www.youtube.com" title="youtube" rel="external nofollow"><img alt="" src="img/youtube.png"></a></li>
                  </ul>
                </section>
            </div>



        </header>



        <div id="main">
            <section id="content">
                <div id="columL">
                    <h3>Profile</h3>
                 <div class = "left-left">
                       <div class = "anons">
                           <section>
                             <div class = "image">
               <a href = "#"> <img id="myImg" src='data:image/jpg;base64,<%= user.local.avatar %>' height="200" width="200" alt = "Apple"></a>
                             </div>
                           </section>
                       </div>
                    <div class="block">


                    </div>
                  </div>
                <div class="columMed">
<table>

<tbody>
  <tr>
    <td><strong>Name</strong></td>

    <td><%= user.local.first_name%></td>
  </tr>
  <tr>
    <td><strong>Surname</strong></td>

    <td><%= user.local.second_name%></td>
  </tr>

  <tr>
    <td><strong>Phone</strong></td>

    <td><%= user.local.phone %></td>
  </tr>

    <td><strong>About myself: </strong></td>

    <td><%= user.local.about %></td>
  </tr>

</tbody>
</table>
<ul>
    <li>




        <div class="info">




            <div class="actions">
                <a href="/logout">Logout</a>



              <!--  <a href="/update">Add information</a> -->
                <% if(user.local.role =="admin") { %>
                <a id= "admin" href="/add">Додати бренд</a>
                <a id= "admin" href="/list">Список користувачів</a>
                    <% }; %>

            </div>
        </div>
    </li>
  </ul>
                </div>

                </div>
                <div id="columR">
                    <h3>Some interesting for you</h3>
                    <ul>
                           <% sales.filter(x => x.name).forEach( sale => { %>
                        <li>
                            <div class="img"><a href="/products/<%=sale.href%>"><img alt="" src='data:image/jpg;base64,<%= sale.avatar1 %>'></a></div>
                            <div class="info">
                                <a class="title" href="/products/<%=sale.href%>"><%= sale.name %></a>
                                <div class="price">

                                    <span class="special"><%= sale.founder %></span>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </section>
        </div>


    <footer>

             Copyright © 2016 Aleksandra Pyvovarchuk

    </footer>

</div>

</body></html>
